@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

 :root {
    --orange: #f78b00;
    --blue: #00285f;
    --gray: #ededed;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 500px;
    background: var(--orange);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 50px;
    color: var(--blue);
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

p nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--blue);
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--blue);
    font-weight: bold;
    border-radius: 4px;
}

nav ul button:hover {
    transition: background, color 0.6s;
    background: var(--blue);
    color: white;
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 400px;
    background: var(--blue);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
}

.header-block img {
    width: 50%;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header-block .text h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;
}

.header-block .text p {
    max-width: 280px;
    color: white;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
}


/* Product Catalog */

section .catalog {
    width: 100vw;
    padding: 100px;
}

section .filter-card {
    width: 100%;
    height: 100px;
    background: var(--gray);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-input {
    width: 62%;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
    flex-wrap: wrap;
}

.search-button {
    width: 100%;
    height: 50px;
    max-width: 100px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--blue);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}

.search-button:hover {
    background: #dedede;
    color: var(--blue);
}

.title-wrapper-catalog {
    margin-top: 100px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

section .card-item {
    height: 400px;
    background: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 85%;
}

.card-item h4 {
    width: 0%;
}

.card-item p {
    width: 90%;
    font-style: italic;
    color: #00000070;
}

.card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.card-item button:hover {
    background: #dedede;
    color: var(--blue);
}


/* About */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
}

.right h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}

.right p {
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
}


/* Features */

.features {
    width: 100%;
    height: 100%;
    background: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.title-wrapper-features {
    padding: 0px 70px;
}

.title-wrapper-features p {
    text-align: topo;
}

.feature-card-block {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
}

.feature-card-item {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #dedede3b;
    border-radius: 4px;
}

.feature-text-content {
    max-width: 60%;
    margin: 5px;
}

.feature-card-item img {
    width: 64px;
    height: 64px;
}


/* Footer */

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--orange);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsividade */

@media(max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    nav ul li {
        display: block;
    }
    .header-block img {
        width: 55%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
    .brand {
        font-size: 40px;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .mobile-menu {
        display: none;
        cursor: pointer;
    }
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: var(--blue);
        margin: 8px;
        transition: 0.3s;
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 9px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .nav-list li {
        margin-left: 0;
    }
    .nav-list-li a {
        position: absolute;
        font-size: 30px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 0;
    }
    .nav-list.active {
        transform: translateX(0);
    }
    .brand {
        font-size: 30px;
        color: var(--blue);
        cursor: pointer;
    }
    header {
        width: 100%;
        height: 420px;
        background: var(--orange);
    }
    .header-block img {
        width: 55%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
    .header-block .text {
        position: absolute;
        bottom: 15%;
        left: 25px;
    }
    .title-wrapper-catalog {
        margin-top: 45px;
        padding-bottom: 20px;
    }
    nav {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .about {
        margin-top: 100px;
    }
    .about img {
        margin-top: -5px;
    }
    .title-wrapper-about {
        margin-bottom: -60px;
    }
    .title-wrapper-about p {
        margin-top: -120px;
    }
    .about-content {
        flex-direction: column;
        height: 1%;
    }
    .about-content p {
        flex-direction: column;
        height: 100%;
    }
    .about-content {
        flex-direction: column;
        height: -100%;
    }
    .left {
        display: none;
    }
    .right {
        width: 90%;
    }
    .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
    }
    .right h3 {
        margin-top: 120px;
        width: 90%;
        margin: 0px;
        text-align: left;
    }
    .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
    }
    .features {
        height: 100%;
    }
    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .title-wrapper-features p {
        flex-direction: column;
        height: 100%;
    }
    .title-wrapper-features h3 {
        margin-top: 120px;
        width: 190%;
        margin: 0px;
        text-align: left;
    }
    footer {
        height: 100%;
    }
    footer .main {
        height: 100%;
    }
    .footer-links {
        flex-direction: column;
        padding-left: 10%;
        padding-left: 10%
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .brand {
        font-size: 40px;
    }
    .header-block img {
        width: 55%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 55%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 570px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 65%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 75%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 85%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 95%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 370px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 95%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 320px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 95%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}

@media (max-width: 300px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 92vh;
        top: 12vh;
        background: var(--orange);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 50000;
    }
    .header-block img {
        width: 95%;
        position: absolute;
        right: 2%;
        top: 2%;
        flex-wrap: wrap;
    }
}
