* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#relogio {
    font-size: 23rem;
    color: beige;
    font-family: 'montserrat';
}
